@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: nunito;
}

#welcome-header {
  color: orange;
  margin-bottom: 20px;
}

.login__main-title {
  color: orange;
  margin: 30px 0px 0px 20px;
  font-size: 30px;
}

.main-title__text {
  opacity: 0.5;
  margin: 50px 70px;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  margin: 0px 100px;
}

.login input {
  border: none;
  padding: 15px 0px;
  font-size: 15px;
  margin-bottom: 25px;
}

.login input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
  opacity: 0.7;
}

.login input:focus {
  border-color: orange;
  outline: none;
}

.login input:focus::placeholder {
  color: transparent;
}

.login input[type="submit"] {
  background-color: orange;
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

.login a {
  text-align: center;
  font-size: 8px;
  text-decoration: underline;
  color: inherit;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.login a:hover {
  color: orange;
  cursor: pointer;
}
